
.question-analysis {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quest-det {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #438af6;
}

.quest-desc {
  font-size: 14px;
  color: #566474;
  font-weight: 400;
}
.quest-desc span:first-child {
  font-weight: 700;
}

.quest-desc-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 49px;
}

.quest-progress {
  position: relative;
}

.circle-prog {
  width: 180px;
}

.progress-emoji {
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  place-content: center;
}