
.update-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    display: grid;
    place-content: center;
    background-color: #1e272eb2;
  }
  
  .modal-container {
    padding-inline: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 880px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    color: #222f3e;
    font-size: 36px;
    font-weight: 700;
    align-items: center;
    padding-block: 30px 20px;
  }
  
  .modal-items {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding-block: 28px;
    border-block: 1px solid #ebf0f5;
    border-radius: 2px;
    font-weight: 700;
  }
  
  .modal-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .modal-text {
    display: flex;
    gap: 20px;
    color: #566474;
    align-items: flex-start;
    font: 18px;
  }
  
  .modal-text p:first-child {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    background-color: #142683;
    border-radius: 100%;
  }
  
  .modal-text p:last-child span:first-child {
    font-weight: 400;
  }
  
  .modal-input {
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #142683;
    width: 157px;
  }
  
  .modal-input input {
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #142683;
    outline: none;
    width: 100%;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-block: 28px;
    gap: 39px;
  }
  
  .modal-footer button {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #142683;
  }
  
  #cancel-update {
    color: #142683;
    background-color: white;
  }
  
  #save-update {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #142683;
  }
  